<h3>Daftar Provinsi</h3>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listProv"> 
                    <td>{{p.idProvinsi}}</td>
                    <td>{{p.namaProvinsi}}</td>
                    <td><a href="/editprov/{{p.idProvinsi}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>